@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.App {
  border: solid 1px #18b1a7;
  border-radius: 10px;
  margin: 20px auto;
  padding: 15px;
  max-width: 500px;
  position: relative;
  background-image: url("./backgroundApp.jpeg");
}

.container {
  font-family: "Noto Sans JP", sans-serif;
  color: white;
}
