.row {
  padding: 0px;
  position: relative;
}

h1 {
  font-size: 28px;
  font-weight: 100;
  line-height: 38px;
  margin: 0;
  font-weight: 600;
  padding-bottom: 5px;
}

.col {
  text-align: center;
}

.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  padding-left: 10px;
  text-align: center;
}

.units {
  position: relative;
  top: -34px;
  font-size: 16px;
  font-weight: 600;
}

.WeatherInfo a {
  color: #18b1a7;
}

.WeatherInfo a:hover {
  color: #66ebe2;
  transform: all 200ms ease;
  opacity: 0.9;
}

canvas {
  margin: 0 auto;
  display: block;
  padding: 6px 0px;
}

.text-capitalize {
  position: relative;
  margin: -10px;
  text-align: center;
  font-size: 14px;
}

.wind,
.humidity,
.highlow {
  margin: 0 auto;
  display: block;
  padding: 20px 0px 20px 20px;
  font-size: 14px;
  font-weight: 400;
}

.fasWind {
  color: rgb(204, 204, 204);
}

.fasHumidity {
  color: #528cc2;
}

.fasTemperatureHigh {
  color: rgb(250, 131, 131);
}

.fasTemperatureLow {
  color: #66aff3;
}
