.form-row {
  padding: 10px 12px;
}

.row {
  padding: 0px;
  position: relative;
}

.col-large {
  width: 400px;
}

.search-button {
  margin-top: -2px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 20px;
  background-color: #18b1a7;
  border-radius: 100px;
  border: none;
  color: #ffffff;
}

.search-button:hover {
  transform: all 200ms ease;
  opacity: 0.9;
  cursor: pointer;
}

.current-button {
  margin-top: -2px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 20px;
  background-color: #528cc2;
  border-radius: 100px;
  border: none;
  color: #ffffff;
}

.current-button:hover {
  transform: all 200ms ease;
  opacity: 0.9;
  cursor: pointer;
}
