@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

.form-row {
  padding: 10px 60px 10px 12px;
}

.row {
  padding: 0px;
  position: relative;
}

.search-button {
  margin-left: 5px;
  padding: 10px 20px;
  background-color: #18b1a7;
  border-radius: 100px;
  border: none;
  color: #ffffff;
}

.search-button:hover {
  transform: all 200ms ease;
  opacity: 0.9;
}

.current-button {
  margin-left: 70px;
  padding: 10px 20px;
  background-color: #528cc2;
  border-radius: 100px;
  border: none;
  color: #ffffff;
}

.current-button:hover {
  transform: all 200ms ease;
  opacity: 0.9;
}

.Weather h1 {
  font-size: 28px;
  font-weight: 100;
  line-height: 38px;
  margin: 0;
  font-weight: 600;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin: 16px;
}

.Weather .units {
  position: relative;
  top: -34px;
  font-size: 16px;
  font-weight: 400;
  margin-left: -16px;
}

img {
  width: 52px;
  margin: 0 auto;
  display: block;
}

.Weather .text-capitalize {
  position: relative;
  margin: -10px;
  text-align: center;
  font-size: 14px;
}

.Weather .wind,
.humidity,
.highlow {
  padding-top: 10px;
  padding-bottom: 200px;
  font-size: 14px;
}

.Weather .humidity,
.highlow {
  margin-left: -10px;
}

.Weather .fasWind {
  color: rgb(204, 204, 204);
}

.Weather .fasHumidity {
  color: #528cc2;
}

.Weather .fasTemperatureHigh {
  color: rgb(250, 131, 131);
}

.Weather .fasTemperatureLow {
  color: #66aff3;
}

.footer {
  font-size: 8px;
  color: #18b1a7;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast h3 {
  color: rgb(165, 167, 167);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 20px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(124, 122, 122);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
